@font-face {
    font-family: "Instrument";
    src: url(../../fonts/InstrumentSerif-Regular.ttf)
    format(truetype);
}


@media (min-width:650px) {
    .showcaseContainer{
        width: 96%;
        height: 93%;
        background: #fff;
        margin: auto;
        display: flex;
        user-select: none;
        border-bottom: 1px solid;
    
    }
    
    .containerDivBlack{
        width: 100%;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
    }
    
    .containerDivWhite{
        background-color: rgb(15, 15, 15);
        margin: auto;
        width: 96%;
        height: 650px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .imgContainer{ 
        width: 50%;
        height: 100%;
        transition: 0.3s;
    }
    
    .imgContainer:hover{
        width: 75%;
    }
    
    .imgContainer:hover .textContainer{
        width: 25%;
    }
    
    .imgContainer img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .textContainer{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #fff;
       
    }
    
    .titleShowcase{
        font-size: 2em;
       
    }
    
    .contentShowcase{
        font-size: 1.5em;
        text-align: center;
        max-width: 400px;
       
    }
    
    .textContainer button{
        border: 1px solid black;
        cursor: pointer;
        border-radius: 5px 15px;
        padding: 7px 10px;
        margin-top: 20px;
        background: #ffffff;
        transition: 0.3s;
       
        font-weight: lighter;
    }
    
    .textContainer button:hover{
        background-color: black;
        color: white;
    }
}


@media (max-width:650px) {
    .showcaseContainer{
        width: 96%;
        height: 93%;
        background: #fff;
        margin: auto;
        display: flex;
        user-select: none;
        border-bottom: 1px solid;
    
    }
    
    .containerDivBlack{
        width: 100%;
        height: 550px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
    }
    
    .containerDivWhite{
        background-color: rgb(15, 15, 15);
        margin: auto;
        width: 96%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .imgContainer{ 
        width: 50%;
        height: 100%;
        transition: 0.3s;
    }
    
    .imgContainer:hover{
        width: 75%;
    }
    
    .imgContainer:hover .textContainer{
        width: 25%;
    }
    
    .imgContainer img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .textContainer{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #fff;
       
    }
    
    .titleShowcase{
        font-size: 1.2em;
            
    }
    
    .contentShowcase{
        font-size: 1.5em;
        text-align: center;
        max-width: 400px;
       
    }
    
    .textContainer button{
        border: 1px solid black;
        cursor: pointer;
        border-radius: 5px 15px;
        padding: 7px 10px;
        margin-top: 20px;
        background: #ffffff;
        transition: 0.3s;
       
        font-weight: lighter;
    }
    
    .textContainer button:hover{
        background-color: black;
        color: white;
    }
}



